/* Variáveis de cores */
:root {
    --gray-bg: #1f2937;
    --fundo-input: #111827;
    --color-text: #ccd1d6;
}
.gray-bg {
    background-color: var(--gray-bg);
}
.color-text {
    color: var(--color-text);
}
@media print {
    body {
        margin: 0;
        padding: 0;
        -webkit-print-color-adjust: exact; /* Garante que cores sejam aplicadas */

        color: black;
    }

    /* Ajusta margens específicas */
    @page {
        margin: 0;
    }
}
/* Layout geral */
.allmid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Estilos gerais */
.title {
    font-size: 1.9rem;
}

.botao {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 400px;
    border-radius: 5px;
    font-size: 1.5rem;
    color: white;
}

#table-mes td {
    background-color: white;
}
#table-mes td,
th {
    border: 1px solid black;
}
.btn-ponto {
    font-size: 1.8rem;
}
